.form-inline{
    border: 1px solid rgb(185, 183, 183);
    display: flex;
    padding: 9px;
    border-radius: 14px;
}
input{
    border: none;
    /* text-align: center; */
    padding-bottom: 2px;
}
/* .container-fluid{
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto; 
    top: 0px;
    bottom: 0;
    left: 0;
    right: 35;
    z-index: 100;
    display: block;
   
} */