<!-- <p>footer works!</p> -->
<div class="container w-100">

    <footer class=" text-center text-lg-start text-black w-100 p-5"
        style="background-color: rgba(243, 242, 242, 0.904);color: black;">
        <!-- Grid container -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 ">
                    <h5 class="text-uppercase">Categories see all</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-black"><i class="fas fa-book fa-fw fa-sm me-2"></i>Cold Drinks &
                                Juices</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black"><i class="fas fa-book fa-fw fa-sm me-2"></i>Dry Fruits,
                                Masala & Oil</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Bakery &
                                Biscuits</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Execution of the contract</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-black"><i
                                    class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Supply</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black"><i class="fas fa-backspace fa-fw fa-sm me-2"></i>Returns</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black"><i
                                    class="far fa-file-alt fa-fw fa-sm me-2"></i>Regulations</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Privacy
                                policy</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">
                        Dairy & Breakfast</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-black">Instant & Frozen Food</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black">Sweet Tooth</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black">Tea, Coffee & Health Drinks</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>Send us a
                                book</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Write to us</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-black"><i class="fas fa-at fa-fw fa-sm me-2"></i>Help in
                                purchasing</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black"><i class="bi bi-bus-front-fill"></i>Check
                                the order status</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black"><i class="bi bi-envelope-at"></i>Join the
                                newsletter</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 eshopopen:
            <a class="text-white" href="https://mdbootstrap.com/">eshop.com</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>