<div class="container w-100" style="margin-top: 5rem;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" style="margin-left:0;">
            <p class="navbar-header">
                <a class="navbar-brand" href="#">Vegetables & Fruits</a>
            </p>
            <p class="navbar-header">
                <a class="navbar-brand" href="#">Dairy & Breakfast</a>
            </p>
            <p class="navbar-header">
                <a class="navbar-brand" href="#">Cool Drinks & juices</a>
            </p>
            <p class="navbar-header">
                <a class="navbar-brand" href="#">Bakery & Biscuits</a>
            </p>
            <p class="navbar-header">
                <a class="navbar-brand" href="#">Vegetables & Fruits</a>
            </p>


        </div>
    </nav>
</div>

<div class="container-fluid w-100">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar w-20 sidebar-section">
            <ul *ngFor="let info of this.productList['subcat']">
                <li>
                    <img class="image-section" [src]="info['img']">
                    {{info.name}}
                </li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ">
            <!-- <h3 class="page-header">Buy Drinks & juices online</h3> -->
            <div class="row">
                <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let info of Drinkssection"> -->
                <div class="col" *ngFor="let info of this.productList['subcat'][0]['data'];let i=index;">
                    <div class="card" style="width: 13rem; height: 42vh;">
                        <img [src]="info['img']" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"> <b>{{info.name}}</b></h5>
                            <p class="card-text">{{info.quantity}}</p>
                            <!-- {{quantity}} -->
                            <b>{{info.price}}</b> &nbsp; &nbsp;
                            <div class="btnsection btn btn-success">

                                <span (click)="subtracpro(i)" *ngIf="info?.cartCount>0"><i
                                        class="bi bi-dash-lg"></i>&nbsp;</span>
                                <span *ngIf="info?.cartCount ===0" (click)="addpro(i)">Add</span>
                                <span *ngIf="info?.cartCount>0">{{info?.cartCount}}</span>
                                <span *ngIf="info?.cartCount>0" (click)="addpro(i)"> &nbsp; <i
                                        class="bi bi-plus-lg"></i></span>
                            </div>
                            <!-- <div class="btnsection">
                                <button class="btn btn-success"><i class="bi bi-dash-circle"></i>Subtrac</button> &nbsp;
                                <button class="btn btn-success">
                                    <i class="bi bi-plus-circle"></i>ADD</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



