.sidebar {
    /* position: fixed; */
    top             : 115px;
    bottom          : 0;
    /* left         : 0; */
    /* right        : 35; */
    z-index         : 100;
    display         : block;
    padding-left    : 10px;
    overflow-x      : hidden;
    overflow-y      : auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: hsl(0, 29%, 97%);
    border-right    : 1px solid #eee;
}


.row {
    display  : flex;
    flex-wrap: wrap;
}

.col {
    flex           : 1 0 9%;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    height         : 52vh;

}

.list-group {
    height: 14.5vh;
}


.image-section {
    height        : 90px;
    mix-blend-mode: multiply;
}


ul {
    list-style-type: none;
}

ul li {
    background-color: white;
}

li:hover {
    cursor          : pointer;
    background-color: rebeccapurple;

}