<!-- <div>
    <ng-image-slider [images]="imgCollectionCard" #nav [imageSize]="{width:'15%', height:250}"></ng-image-slider>
</div> -->
<div class="container">
    <h4>Dairy, Bread & Eggs</h4>
    <div style="margin: 2rem;">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)">
            <div ngxSlickItem *ngFor="let slide of imgCollectionCard; let i=index" class="slide" >
                <div class="card" style="width: 12rem;height: 43vh;" (click)="goprodetails()">
                    <img class="card-img-top" [src]="slide['image']" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{slide.name}}</b></h5>
                        <p class="card-text">{{slide.kg}}</p>
                        <b>{{slide.rs}}</b> &nbsp; &nbsp;
                        <div class="btn btn-success">
                            <span (click)="subtraprod(i)" *ngIf="slide?.cartCount>0"><i class="bi bi-dash-lg">
                                </i></span><span *ngIf="slide?.cartCount ===0" (click)="addprod(i)">Add</span>
                              <span *ngIf="slide?.cartCount">{{slide?.cartCount}}</span>  <span *ngIf="slide?.cartCount>0" 
                                (click)="addprod(i)"><i class="bi bi-plus-lg"></i></span>
                            
                        </div>
                    </div>
                </div>

            </div>
        </ngx-slick-carousel>
    </div>
    <h4>Cold Drinks & Juices </h4>
    <div style="margin: 1rem;">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)">
            <div ngxSlickItem *ngFor="let slide of Drinkssection; let i=index" class="slide">
                <div class="card" style="width: 12rem;height: 45vh;" (click)="goprodetails()">
                    <img class="card-img-top" [src]="slide['image']" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{slide.name}}</b></h5>
                        <p class="card-text">{{slide.kg}}</p>
                        <div>
                            <b>{{slide.rs}}</b> &nbsp; &nbsp;
                            <div class="btn btn-success">
                                <span (click)="subtraproducttwo(i)" *ngIf="slide?.cartCount>0"><i class="bi bi-dash-lg"></i>
                                    </span><span *ngIf="slide?.cartCount ===0" (click)="addproducttwo(i)">Add</span>&nbsp;
                                  <span *ngIf="slide?.cartCount">{{slide?.cartCount}}</span> &nbsp; <span *ngIf="slide?.cartCount>0" 
                                    (click)="addproducttwo(i)"><i class="bi bi-plus-lg"></i></span>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>