.home-section{
    width: 90%;
    /* height: 85vh; */
}
.rowproduct{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}
.rowing{
    max-height: 200px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 5px;
}
.rowing:hover{
    transform: scale(1.08);
    cursor: pointer;
}
.largeproduct{
    max-height: 400px;
}
.rowproduct::-webkit-scrollbar{
    display: none;
}