<!-- <p>home works!</p> -->

<div class="container">
    <div class="home-section">
        <img src="../../assets/1 img.png">
    </div>

    <div>
        <div class="row">
            <h4>Product Shop in eshop</h4>
            <div class="rowproduct">
                <ng-container *ngFor="let t of product">
                    <!-- <span>{{t.name}}</span> -->
                    <img [src]="t['img']" class="rowing largeproduct" alt="">
                </ng-container>
            </div>
        </div>
    </div>
</div>
<app-product-item></app-product-item>
<app-card-section></app-card-section>